/*
@import url(menu.css);
@import url(f2n_video/f2n_video.css);
*/

img { border : 0 }

.right { float: right }


ul , ol{
    margin: 0 0 0 20px; 
    padding : 0 0 0 10px;
}

li {
    padding:5px 0 10px 10px;
}

hr {
    height : 2px;
    border-style : none;
    color : #234A81;
    margin : 10px 0;
}
