body {
  color: #333333;
  background-color: #FFFFFF;
  font-family:Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.4286em;
}

#header {
  border-bottom:1px #CCCCCC solid;
  height: 80px;
}

#header h1 {
  display: inline-block;
  float: left;
  margin: 30px 0px 0px 10px;
  font-size: 45px;
  color: #0079C1;
}

#header_image {
  float: left;
  margin: 25px 0 10px 15px;  
}

.grid_1 .divider {
  border-right: 1px #CCCCCC solid;
  margin-right: 30px;
  height: 900px;
}

#user_status {
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  float: right;
}

.header a {
  color: #CCC;
  text-decoration: none;
}

.header a:hover {
  color: #DDD;
  text-decoration: underline;
}

.notice {
  color: #BEB;
  text-align: center;
}

.header {
}

}
.body {
  color: #444444;
  background-color: #FBFBFB;
}

h1.title {
  margin-top: 25px;
  font-size: 20px;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;

  color: #0079C1;
}

h2 {
  font-size: 1.3em;
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
p {
  margin-top: 1em;
}

a {
  color: #005596;
  text-decoration: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.btn  {
  -moz-border-radius:2px 2px 2px 2px;
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
  background:url("/images/btn-sm-bg.png") repeat-x scroll 0 0 transparent;
  border:1px solid #6E93B0;
  color:#234E70;
  display:inline;
  float:left;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  height:27px;
  line-height:26px;
  margin-right:5px;
  padding:0 10px;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}

.actions {
  margin-top: 15px;
}

div.field, div.actions {
  margin-bottom: 5px;
}

.alert {
  color: red;
}

input, select {
  -moz-border-radius: 2px 2px 2px 2px;
  border: 1px solid #CCCCCC;
  padding: 4px;
  font-size: 14px;
  margin-top: 2px;
}

.selector {
  font-size: 14px;
  display: inline-block;
  width: 40px;
}


.fieldWithErrors input,
.fieldWithErrors select {
  border: 1px solid #F99;
}

label {
  display: block;
  margin-top: 3px;
}

label.checkbox_label {
  display: inline-block;
}

.links {
  margin-top: 15px;
}

tr {
  border-bottom: 1px solid #CCCCCC;
}

tr:last-child {
  border-bottom: none;
}

th {
  padding-right: 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.sidebar {
  margin-top: 15px;
}

.sidebar a.tk-bree {
  font-size: 15px;
}

.fieldWithErrors {
  display: table;
}

#errorExplanation {
  width: 450px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#errorExplanation h2 {
  font-size: 14px;
  font-weight: bold;
  color: #F00;
}

#errorExplanation ul li {
  color: #F00;
}

.spinner {
    background-image: url("/images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-color: transparent;
}
