body {
  color: #333333;
  background-color: #FFFFFF;
  font-family:Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.4286em;
}

#header {
  border-bottom:1px #CCCCCC solid;
  height: 80px;
  position: relative;
}

#header h1 {
  display: inline-block;
  float: left;
  margin: 30px 0px 0px 10px;
  font-size: 45px;
  color: #0079C1;
}

#header_image {
  float: left;
  margin: 25px 0 10px 15px;  
}

#nav_links {
  position: absolute;
  margin-top: 50px;
  right: 20px;
  font-weight: lighter;
}

#nav_links li {
  border-right: 1px solid #BBB;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  float: left;
  font-size: 20px;
}

#nav_links li:last-child {
  border-right: none;
  padding-right: 0px;
}


.grid_1 .divider {
  border-right: 1px #CCCCCC solid;
  margin-right: 30px;
  height: 900px;
}

#user_status {
  position: absolute;
  margin-top: 5px;
  right: 20px;
  color: black;
  font-size: 13px;
  font-weight: lighter;
}

.header a {
  color: #CCC;
  text-decoration: none;
}

.header a:hover {
  color: #DDD;
  text-decoration: underline;
}

.notice {
  color: #BEB;
  text-align: center;
}

.header {
}

}
.body {
  color: #444444;
  background-color: #FBFBFB;
}

h1.title {
  margin-top: 25px;
  font-size: 20px;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;

  color: #0079C1;
}

h2 {
  font-size: 1.3em;
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
p {
  margin-top: 1em;
}

a {
  color: #005596;
  text-decoration: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.btn  {
  -moz-border-radius:2px 2px 2px 2px;
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
  background:url("/images/btn-sm-bg.png") repeat-x scroll 0 0 transparent;
  border:1px solid #6E93B0;
  color:#234E70;
  display:inline;
  float:left;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  height:27px;
  line-height:26px;
  margin-right:5px;
  padding:0 10px;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}

.actions {
  margin-top: 15px;
}

div.field, div.actions {
  margin-bottom: 5px;
}

.alert {
  color: red;
}

input, select {
  -moz-border-radius: 2px 2px 2px 2px;
  border: 1px solid #CCCCCC;
  padding: 4px;
  font-size: 14px;
  margin-top: 2px;
}

.selector {
  font-size: 14px;
  display: inline-block;
  width: 40px;
}


.fieldWithErrors input,
.fieldWithErrors select {
  border: 1px solid #F99;
}

#calendar_dates div.fieldWithErrors {
  display: inline-block;
}

label {
  display: block;
  margin-top: 3px;
}

label.checkbox_label {
  display: inline-block;
}

.links {
  margin-top: 15px;
}

table.list {
  margin-top: 5px;
  width: 100%;
  font-size: 13px;
}

.list tr {
  border-bottom: 1px solid #CCCCCC;
  line-height: 1.8em;
}

.list tr:last-child {
  border-bottom: none;
}

.list th {
  background-color: #EEE;
}

.list td, th {
  padding: 3px 10px 0px 10px;
}

td.spinner, th.spinner {
  background-position: 95px 1px;
}

.events .past {
  background-color: #DDD;
}

.events .present {
  background-color: #EFE;
}

#events_legend li {
  float: left;
  margin-right: 15px;
  line-height: 22px;
}

#events_legend .color {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  float: left;
  margin-right: 3px;
}

#events_legend .present {
  background-color: #DFD;
}

#events_legend .past {
  background-color: #DDD;
}

#events_legend .future {
  background-color: #FFF;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.sidebar {
  margin-top: 15px;
}

.sidebar a.tk-bree {
  font-size: 15px;
}

.fieldWithErrors {
  display: table;
}

#errorExplanation,
#error_explanation {
  width: 450px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#errorExplanation h2,
#error_explanation h2 {
  font-size: 14px;
  font-weight: bold;
  color: #F00;
}

#errorExplanation ul li,
#error_explanation ul li {
  color: #F00;
}

.spinner {
    background-image: url("/images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-color: transparent;
}

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.modal {
    display: none;

    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 20px;
}

.modal h1.title {
  margin-top: 5px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .modal {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

ul.passcode li {
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  border: 1px solid #000000;
}