%style
  ul {
  margin-top: 15px;
  }

  li {
  margin-top: 15px;
  }

  a.btn {
  margin-top: 10px;
  }

.grid_4
  %h1.title.tk-bree Download face2name Server

  %a{:href => 'face2name_server_rev2052.tar.gz'} face2name_server_rev2052.tar.gz

  %p Untar the tarball on your computer. It will extract into a folder with the same name.
  %p
    Run the script at
    %code bin/openfire.sh.
    
.grid_4
  %h1.title.tk-bree Download Test Configuration

  %a{:href => 'Cappacino_Cruise_test_configuration.bin'} Cappacino_Cruise_test_configuration.bin
  %p
    Click on the download button above and save the file someplace on your computer, such as the Desktop.
    %strong Remember where you save
    the configuration file for the next step.
  %p Next, import the configuration by going to your server, port 9080.
