<h2>Downloads</h2>

<table width="60%">
  <tr>
    <td width="50%">
        <h3>Download face2name Server</h3>
        <a href="face2name_server_rev1974.tar.gz" class="button">face2name_server_rev1974.tar.gz</a>
        <h3>Instructions</h3>
        <p>
          Untar the tarball on your computer. It will extract into a folder
          with the same name.
        </p>
        <p>
          Run the script at <code>bin/openfire.sh</code>.
        </p>
    </td>
    <td width="50%">
        <h3>Download Test Event Configuration</h3>
        <a href="config-bundle-10-04-31-82616.tar.gz" class="button">config-bundle-10-04-31-82616.tar.gz</a>
        <h3>Instructions</h3>
        <p>
          Click on the download button above and save the file someplace on your
          computer, such as the Desktop.
          <strong>Remember where you save</strong> the configuration file for the next step.
        </p>
        <p>
          Next, import the configuration by going to your server, port 9080.
        </p>
    </td>
  </tr>
</table>


