.grid_8
  %h1.title.tk-bree Welcome to the Face2Name Store
  %p
    Welcome to the face2name store. This is where you can create and purchase new event configurations.
  %p
    %a.btn.tk-bree{:href => (url_for new_event_path)}
      %span
        Create New Event
