.grid_8
  %h1.title.tk-bree Welcome to the Face2Name Store
  %p
    Welcome to the face2name STORE. This is where you purchase new event configurations.
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Suspendisse eu pulvinar mi. Sed porttitor sollicitudin lacus, in ornare
    risus imperdiet sed. In a purus nulla, ut placerat diam. Nunc ultricies,
    urna sed volutpat viverra, elit nibh lobortis massa, at tincidunt purus
    sapien auctor nisl. Nunc laoreet fermentum nisl, in fringilla lacus
    lacinia eu.
  %p
    %a.btn.tk-bree{:href => (url_for new_event_path)}
      %span
        Create New Event
